// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkbox-login {
  width: auto;
  margin-left: 20px;
  span {
    font-weight: normal;
  }
}