// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-signup {
  margin-top: 15px;
}

.label-signup {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 10px;
}

.btn-user--edit {
  margin-top: 1em;
}

#table-users {
  vertical-align: middle;
}