<footer id="footer">
  <div class="text-left">
    The Ruby on Rails Tutorial
      <ul>
        <li class="text-right">
        <li>About</li>
        <li>Contact</li>
        </li>
      </ul>
  </div>
</footer>